// Videos and Highlights Section:
.mainPageBody .leadingSection .vhContainer{
  box-sizing: border-box;
  background: #e5eae6;

  .vhVideoContainer{
    background-color: $primary-color;
    width: 100%;
    height: 230px;
  }
  .vhDescription {
    width: 100%;
    height: 40px;
    overflow: hidden;
    font-size: 1.000em;
    .vhTitle {
      display: block;
      text-decoration: none;
      font-weight: bold;
      color: #000;
      font-size: 14px;
      padding: 5px;
    }
  }
  &:hover{
    // to do
  }
}