.newsPageAll .advContainer {
  height: 320px;
}
.newsPageAll .advContainer .titleHolder {
  margin-bottom: 5px;
}
.newsPageAll .advContainer .titleHolder .title {
  text-align: center;
  display: block;
  color: #c3a04c;
  padding: 0 5px 5px 5px;
  font-weight: bold;
}
.newsPageAll .advContainer .bannerImg {
  display: block;
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
}
.newsPageAll .advContainer .bannerTitle {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 1%;
  left: 2%;
  z-index: 1000;
}
.newsPageAll .advContainer .bx-wrapper {
  border: none;
}
.newsPageAll .mainAsideBar {
  display: block;
  float: right;
  width: 28.26%;
  margin-left: 1.44%;
  margin-right: 0;
}
.newsPageAll .mainAsideBar .subscribeContainer,
.newsPageAll .mainAsideBar .advContainer {
  width: 90%;
  margin: 0 5% 40px 5%;
}
.newsPageAll .mainAsideBar .subscribeContainer {
  width: 92%;
  margin: 0 4% 45px 4%;
  text-align: center;
}
.newsPageAll .mainAsideBar .subscribeContainer .subscribeBody {
  display: inline-block;
  background: lightgreen;
}
.newsPageAll .mainAsideBar .subscribeContainer .subscribeBody h4 {
  width: 92%;
  margin: 15px 4% 15px 4%;
}
.newsPageAll .mainAsideBar .subscribeContainer .subscribeBody .subscribe {
  display: block;
  width: 92%;
  height: 30px;
  margin: 15px 4% 15px 4%;
}
.newsPageAll .mainAsideBar .subscribeContainer .subscribeBody .submit {
  display: block;
  float: left;
  margin-left: 4%;
  margin-bottom: 15px;
  background: white;
  padding: 6px;
  border-color: white;
}
.newsPageAll .bodyContainer main {
  width: 70.29%;
}
.newsPageAll .bodyContainer main .mainPageBody {
  height: 100%;
}
.newsPageAll .bodyContainer main .dateBox {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background: black;
  font-size: 0.9em;
  opacity: 0.7;
}
.newsPageAll .bodyContainer main .biggestNewsContainer {
  width: 92%;
  margin: 0 4% 45px 4%;
}
.newsPageAll .bodyContainer main .biggestNewsContainer .articleHeadPart {
  width: 100%;
  height: 219px;
  margin-bottom: 10px;
}
.newsPageAll .bodyContainer main .biggestNewsContainer .articleHeadPart .articleImg {
  float: left;
  background: #3e66a5;
  display: block;
  width: 40%;
  height: 100%;
  margin: 0 2% 0 2%;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.newsPageAll .bodyContainer main .biggestNewsContainer .articleHeadPart .titleHolder {
  float: right;
  width: 52%;
  height: 100%;
  margin: 0 2% 0 2%;
  overflow: hidden;
  font-size: 1.225em;
}
.newsPageAll .bodyContainer main .biggestNewsContainer .articleHeadPart .titleHolder .articleTitle {
  display: block;
  height: 100%;
  color: #000;
  font-weight: bold;
}
.newsPageAll .bodyContainer main .biggestNewsContainer .subTextHolder {
  width: 100%;
  height: 58px;
  overflow: hidden;
  margin-bottom: 10px;
}
.newsPageAll .bodyContainer main .biggestNewsContainer .subTextHolder .subArticleText {
  padding: 0;
  width: 96%;
  height: 100%;
  margin: 0 2% 0 2%;
}
.newsPageAll .bodyContainer main .biggestNewsContainer .shareContainer {
  width: 96%;
  margin: 0 2% 0 2%;
  height: 80px;
}
.newsPageAll .bodyContainer main .biggestNewsContainer .shareContainer .shareItem {
  width: 25%;
  display: block;
  float: left;
  font-size: 1.625em;
  color: white;
  text-align: center;
}
.newsPageAll .bodyContainer main .biggestNewsContainer .shareContainer .fb {
  background: #3b5998;
}
.newsPageAll .bodyContainer main .biggestNewsContainer .shareContainer .tw {
  background: #4AB3F4;
}
.newsPageAll .bodyContainer main .biggestNewsContainer .shareContainer .g {
  background: #d62d20;
}
.newsPageAll .bodyContainer main .biggestNewsContainer .shareContainer .vb {
  background: #59267c;
}
.newsPageAll .bodyContainer main .advBodyHolder {
  width: 92%;
  margin: 0 4% 45px 4%;
}
.newsPageAll .bodyContainer main .advBodyHolder .marginHolder {
  width: 96%;
  margin: 0 2% 0 2%;
}
.newsPageAll .bodyContainer main .advBodyHolder .marginHolder .advContainer.body {
  display: none;
}
.newsPageAll .bodyContainer main .newsSectionsContainer {
  margin-top: 70px;
}
.newsPageAll .bodyContainer main .newsSectionsContainer .marginHolder {
  width: 92%;
  margin: 0 4% 45px 4%;
}
.newsPageAll .bodyContainer main .newsSectionsContainer .marginHolder .newsSectionsTitle {
  margin: 0 2% 0 2%;
  border-bottom: 3px solid #3e66a5;
  color: #3e66a5;
  font-weight: bold;
  font-size: 1.425em;
  padding-bottom: 5px;
}
@media only screen and (max-width: 1024px) {
  .newsPageAll .bodyContainer main {
    width: 70.29%;
    float: left;
    margin: 0;
  }
}
@media only screen and (max-width: 820px) {
  .newsPageAll .mainAsideBar {
    display: none;
  }
  .newsPageAll .bodyContainer main {
    width: 100%;
  }
  .newsPageAll .bodyContainer main .advBodyHolder {
    width: 92%;
    margin: 0 4% 45px 4%;
  }
  .newsPageAll .bodyContainer main .advBodyHolder .marginHolder {
    width: 96%;
    margin: 0 2% 0 2%;
  }
  .newsPageAll .bodyContainer main .advBodyHolder .marginHolder .advContainer.body {
    display: block;
  }
}
@media only screen and (max-width: 680px) {
  .newsPageAll .biggestNewsContainer .subTextHolder {
    height: 56px !important;
  }
  .newsPageAll .biggestNewsContainer .articleHeadPart {
    height: 190px !important;
  }
}
@media only screen and (max-width: 480px) {
  .newsPageAll .biggestNewsContainer .subTextHolder {
    height: 53px !important;
  }
  .newsPageAll .biggestNewsContainer .articleHeadPart {
    height: 160px !important;
  }
}
@media only screen and (max-width: 320px) {
  .newsPageAll .biggestNewsContainer .articleHeadPart {
    height: 122px !important;
  }
}

/*# sourceMappingURL=style-news.css.map */
