// Events Sections:
.mainPageBody .leadingSection .eventsContainer{
  .aboutTheEvent{
    margin-top: 5px;

    .eventReleaseInfo,
    .eventRunTimeInfo{
      color: gray;
      font-size: 0.938em;
      margin-bottom: 5px;
    }
    .eventReleaseInfo{
      float: left;
      margin-left: 5px;
    }
    .eventRunTimeInfo{
      float: right;
      margin-right: 5px;
      font-weight: bold;
    }
    .eventRunTimeInfo.running{
      color: green;
    }
  }
  .aboutTheEventTeams{
    text-align: center;
    height: 82px;

    .eventDash{
      font-size: $eventsScoreText;
    }

    // ---HOST---

    .teamHost{
      width: 42%;
      height: 71px;
      float: left;

      .eventTeams {
        float: left;
        width: 75.94%;
        height: 71px;
        .teamImg {
          height: 40px;
          width: 33.33%;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          margin: 0 auto;
        }
        .teamName {
          margin: 0 auto;
          font-size: 1.000em;
        }
      }
      .eventsResult{
        float: right;
        font-size: $eventsScoreText;
      }
    }

    //---GUEST---

    .teamGuest{
      width: 42%;
      height: 71px;
      float: right;

      .eventTeams {
        float: right;
        width: 75.94%;
        height: 71px;

        .teamImg {
          height: 40px;
          width: 33.33%;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          margin: 0 auto;
        }
        .teamName {
          margin: 0 auto;
          font-size: 1.000em;
        }
      }
      .eventsResult{
        float: left;
        font-size: $eventsScoreText;
      }
    }
    .teamName{
      font-weight: bold;
    }
  }
}
